@media(max-width:1300px){
    /* header  */
    header {
        padding: 18px 64px;
       
    }
    .header_nav{
        display: none;
    }
    /* section1  */

    .section1a{
        padding-top: 100px;
    }
    /* section2  */
    
    .sec2_article{
        overflow-x: scroll;
    }
    .sec2_cards{
        flex: 1 0 300px;
      }

      /* footer  */

      footer {
        padding: 64px 358px;
        
    }
      

}