@media(max-width:1300px){
    /* header  */
    header {
        padding: 18px 64px;
       
    }
    .header_nav{
        display: none;
    }
    /* section1  */

    .section1a{
        padding-top: 100px;
    }

}