/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media(max-width:1300px){
    /* header  */
    header {
        padding: 18px 64px;
       
    }
    .header_nav{
        display: none;
    }
    /* section1  */

    .section1a{
        padding-top: 100px;
    }
    /* section2  */
    
    .sec2_article{
        overflow-x: scroll;
    }
    .sec2_cards{
        -webkit-box-flex: 1;
            -ms-flex: 1 0 300px;
                flex: 1 0 300px;
      }

      /* footer  */

      footer {
        padding: 64px 358px;
        
    }
      

}
