@media(max-width:481px){
    /* header  */
    header {
        padding: 18px 8px;
    
    }
      /* section1  */

      .section1a{
        padding-top: 60px;
    }
    .section1_span{
     
        font-size: 32px;
    
        line-height: 40px;
        
    }
    .arrow{
            width: 40px;
        height: 40px;
        }

        /* footer  */
        .footer_nav{
            display: flex;
            flex-direction: column;
            justify-content:space-between;
        }

}