/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media(max-width:481px){
    /* header  */
    header {
        padding: 18px 8px;
    
    }
      /* section1  */

      .section1a{
        padding-top: 60px;
    }
    .section1_span{
     
        font-size: 32px;
    
        line-height: 40px;
        
    }
    .arrow{
            width: 40px;
        height: 40px;
        }

        /* footer  */
        .footer_nav{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack:justify;
                -ms-flex-pack:justify;
                    justify-content:space-between;
        }

}