body {
    font-family: "Inter", sans-serif;
}

.container {
    width: min(100%, 1440px);
    margin: auto;
}

/* header  */

header {
    background-color: #311500;
    padding: 18px 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger_icon {
    display: none;
}

.header_ul {
    display: flex;
    column-gap: 36px;
}

.inactive {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.44px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #DEE2EB;

}

.active {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.44px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #C46A2B;


}

.header_button {

    border: none;
    width: 100;
    height: 48;
    border-radius: 32px;
    font-weight: 900;
    font-style: Black;
    font-size: 16px;
    background-color: #C46A2B;
    color: #DEE2EB;
    line-height: 24px;
    letter-spacing: -0.44px;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 12px 18px;


}

/* section1  */
.section1 {
    height: 640px;
    background-image: url("../images/cover\ \(2\).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.section1a {
    display: flex;
    column-gap: 32px;
    justify-content: center;
    padding-top: 120px;
}

.section1_span {

    font-weight: 400;
    font-size: 48px;
    color: #FFFFFF;
    line-height: 56px;
    letter-spacing: 0.1px;

}

.arrow {
    width: 56px;
    height: 56px;
}

/* section2  */
.section2 {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: #DEE2EB;
    display: flex;
    flex-direction: column;
    row-gap: 56px;
    justify-content: center;
    align-items: center;
}

.sec2_img {

    width: 100%;
    height: 215px;
    object-fit: cover;


}

.section2_span {

    color: #311500;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0%;

}

.sec2_titles {

    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    color: #C46A2B;
    line-height: 27px;
    letter-spacing: 0%;

}

.sec2_article {
    display: flex;
    column-gap: 20px;
}

.sec2_cards {
    background-color: #311500;
    width: 280px;
    height: 290px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.shopping {
    width: 27px;
    height: 27px;
}

.texti {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
}

.shop-btn {
    background: none;
    border: none;
    padding: 0;
}

/* vici rom ragac ar gamodis mgoni arc sqroli mushaobs magram ver vxdebi rashia problema  */


/* footer  */

footer {
    background-color: #311500;
    padding: 64px 371px;
    
}

.footer_a {
    font-weight: 400;
    font-size: 16px;
    color: #D9D9D9;
    line-height: 24px;
    letter-spacing: 0%;

}
.footer_p {
    font-weight: 400;
    font-size: 16px;
    color: #D9D9D9;
    line-height: 24px;
    letter-spacing: 0%;

}

.footer_nav{
    display: flex;
    justify-content:space-between;
}
.footer_ul{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.footer_ul4{
    display: flex;
}
.footer_ul_ul{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.footer_ul4{
    padding-top: 8px;
    display: flex;
    column-gap: 16px;
}


