
body {
    font-family: "Inter", sans-serif;
}

.container {
    width: min(100%, 1440px);
    margin: auto;
}

/* header  */

header {
    background-color: #311500;
    padding: 18px 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger_icon{
    display: none;
}
.header_ul {
    display: flex;
    column-gap: 36px;
}

.inactive {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.44px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #DEE2EB;

}

.active {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.44px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #C46A2B;


}

.header_button {

    border: none;
    width: 100;
    height: 48;
    border-radius: 32px;
    font-weight: 900;
    font-style: Black;
    font-size: 16px;
    background-color: #C46A2B;
    color: #DEE2EB;
    line-height: 24px;
    letter-spacing: -0.44px;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 12px 18px;


}