/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media(max-width:881px){
    /* header  */
    header {
        padding: 18px 24px;
    
    }
     .header_button{
        display: none;
    }
    .burger_icon{
        display: block;
    }
      /* section1  */

      .section1a{
        padding-top: 80px;

    }

    /* footer  */

    footer {
        background-color: #311500;
        padding: 64px 248px;
        
    }
   
}