@media(max-width:881px){
    /* header  */
    header {
        padding: 18px 24px;
    
    }
     .header_button{
        display: none;
    }
    .burger_icon{
        display: block;
    }
      /* section1  */

      .section1a{
        padding-top: 80px;
    }
   
}